# Ignore composer stuff
/vendor/

# Ignore concrete5 stuff
public/concrete
public/application/files

# Ignore developer stuff
.idea
node_modules

# Stuff that's likely to change
composer.lock
yarn.lock
mix-manifest.json
